#box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 100%;
    color: white;
    font-size: 1em;
    flex-wrap: wrap-reverse;
    padding: 50px 30px;
}

.border-gradient {
    --borderWidth: 5px;
    background-color: var(--secondary-color);
    position: relative;
    border-radius: var(--borderWidth);
}

.border-gradient:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #E7AD47, #946a23, #9DC44D, #556e22);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    -webkit-animation: animatedgradient 3s ease alternate infinite;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.about-me-info {
    width: 65%;
    height: 100%;
    font-size: 1.1rem;
    align-items: center;
    overflow: auto;
}

.about-me-info h1,
.about-me-info h2 {
    font-weight: 100;
}

.about-me-info li {
    margin: 5px 0;
}

.about-me-img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 5%;
}

.about-me-img img {
    width: 100%;
    min-width: 30vh;
}

.list-info-about-me {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-me-info__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.download-icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-image: url('/assets/img/icon-pdf.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

.btn-download {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em 1em;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--color-green);
    color: var(--color-green);
    border-radius: 5px;
    font-family: var(--font-family-reemkufi);
}

.btn-download.white {
    border: 1px solid #fff;
    color: #fff;
}